.custom-bg{
    background-image: url('../../../public/images/c3e28050c6c4ac02ca334ab74592e4f7.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}